<div #box class="resizable-draggable" 
    [style.width.px]="card.width" 
    [style.height.px]="card.height"
    [style.transform]="'translate3d('+ card.x + 'px,' + card.y + 'px,' + '0px)'"
    [class.active]="status === 1 || status === 2"
    (mousedown)="setStatus($event, 2)"
    (window:mouseup)="setStatus($event, 0)"
    (window:mousedown)="setMouseClick($event)"
>

    <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
    <div class="resize-action-top-left" (mousedown)="setStatus($event, 3)"></div>
    <div class="resize-action-top-right" (mousedown)="setStatus($event, 4)"></div>
    <div class="resize-action-bottom-left" (mousedown)="setStatus($event, 5)"></div>
    <span>{{card.width | number:'1.0-0'}}px</span>
    <span>{{card.height | number:'1.0-0'}}px</span>
    <!-- <span>({{card.x}}, {{card.y}})</span> -->

    <ng-content></ng-content>
</div>